@import url(variables.css);
@import url(https://fonts.google.com/);

body { font-family:Arial; 
background: rgb(255, 255, 255);
color: rgb(30, 0, 255);
}

form { width: 300px; margin: 20px auto; }

.form-group { margin-bottom: 15px; }
.form-group input{background-color: white;}
.form-group select{background: white;}
label { display: block; font-weight: bold; }

input, select { width: 100%; padding: 8px; }

.error { color: green; font-size: 0.9em; }

.apellido input{text-transform: lowercase;
background-color: white;}

.enviar button{border-radius: 20%;
background-color: white;
margin-top: 4vh;}

.estilo input{background: white;}